.share {
  width: 100%;

  -webkit-box-shadow: 0px 0px 5px -1px rgba(51, 47, 51, 1);
  -moz-box-shadow: 0px 0px 5px -1px rgba(51, 47, 51, 1);
  box-shadow: 0px 0px 5px -1px rgba(51, 47, 51, 1);
}

.shareWrapper {
  padding: 15px;
}
.shareTop {
  display: flex;
  align-items: center;
}
.ProfilePictureImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.shareTopInput {
  border: none;
  outline: none;
  width: 80%;
}
.sharehr {
  margin: 10px 0;
}
.shareoptions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.shareoption {
  display: flex;
  margin-right: 15px;
  align-items: center;
  cursor: pointer;
}

.shareOptiontext {
  font-size: 15px;
  font-weight: 500;
  margin-left: 8px;
}
.sharebutton {
  padding: 4px 7px;
  border: none;
  outline: none;
  background-color: #4a3ed6;
  border-radius: 1px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.imageContainer {
  position: relative;
  width: 100%;
}

.cancelPost {
  position: absolute;
  right: 20px;
  top: 15px;
  color: white;
  opacity: 0.9;

  cursor: pointer;
}
.postImg {
  width: 100%;
  padding: 10px 0px 15px;
}
